<div class="fullscreen-loader" *ngIf="(deleteProgress$ | async)! < 100 && loading">
  <div class="loader-content">
    <mat-progress-bar
      color="primary"
      mode="determinate"
      [value]="deleteProgress$ | async"
    ></mat-progress-bar>
    <p>Eliminando... {{ deleteProgress$ | async }}%</p>
  </div>
</div>

<div class="alert-layout" *ngIf="!loading">
  <div class="toolbar">
    <button mat-raised-button color="primary" (click)="toggleForm()">
      {{ showForm ? 'Ocultar formulario' : 'Filtros' }}
    </button>

    <button mat-raised-button color="warn" *ngIf="startDate && endDate" (click)="deleteData()">
      Eliminar
    </button>
  </div>
  <div class="layout" [class.column]="isMobile">
    <div class="form-section" *ngIf="showForm">
      <div class="form-section">
        <app-delete-bets-form></app-delete-bets-form>
      </div>
    </div>
    <div class="table-section">
      <app-delete-bets-list></app-delete-bets-list>
    </div>
  </div>
</div>
