<div class="options">
  <button
    mat-raised-button
    type="button"
    color="primary"
    *ngIf="isDetail"
    (click)="isDetail = false"
  >
  <mat-icon>arrow_back</mat-icon>
    Volver
  </button>
  <button mat-flat-button color="warn" *ngIf="selectedBets?.selected && isDetail" (click)="deleteBetsDetail()">
    <mat-icon>delete</mat-icon>
    Eliminar
  </button>
  <span
    *ngFor="let item of filteredOptions"
    class="item-filter"
    [ngClass]="{ 'color-selected': item.selected }"
    (click)="!item.selected ? onFilter(item) : onReset(item)"
    >{{ !item.selected ? item.nameSelected : item.nameNoSelected }}</span
  >
</div>

<div class="layout">
  <div class="form-section">
    <div class="form-section-column">
      <app-register-bets-form></app-register-bets-form>
    </div>
    <div class="form-section-column">
      <app-register-bets-resume></app-register-bets-resume>
    </div>
  </div>

  <div class="table-section">
    <app-register-bets-list
      *ngIf="!isDetail && !isResume"
      (viewDetail)="isDetail = $event.detail; registerBet = $event.item"
    ></app-register-bets-list>
    <app-register-bets-list-detail
      *ngIf="isDetail"
      [grupedBet]="registerBet"
      (isSelectToDeleted)="selectedBets = $event"
      (emitDetail)="isDetail = $event"
    ></app-register-bets-list-detail>
    <app-register-bets-list-resume *ngIf="!isDetail && isResume"></app-register-bets-list-resume>
  </div>
</div>
