.custom-div {
  margin: 0 auto;
  height: calc(100vh - 150px);
  max-height: calc(100vh - 150px);
  width: 50vw;
  padding: 1rem;
  overflow: auto;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

  .form-resume {
    display: flex;
    justify-content: space-between;
    gap: 15px;

    .item-form-resume {
      width: calc(50% - 7.5px);
    }
  }

  .list {
    margin-top: 20px;
  }
}

@media (max-width: 768px) {
  .custom-div {
    width: 90vw;

    .form-resume {
      display: flex;
      flex-direction: column;
      width: 100%;

      .item-form-resume {
        width: 100%;
      }
    }
  }
}

.layout {
  display: flex;
  gap: 24px;
  padding: 20px;
  min-height: 100vh;
  box-sizing: border-box;

  &.column {
    flex-direction: column;

    .form-section,
    .table-section {
      width: 100%;
      flex: none;
    }
  }
}

.form-section {
  flex: 0 0 600px;
  min-width: 0;
}

.form-section-column {
  margin-bottom: 10px;
}

.table-section {
  flex: 1;
  min-width: 0;
}

.toolbar {
  padding: 16px 20px 0;
}

.options {
  padding: 10px 20px 10px 20px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: end;
}

.item-filter {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 36px;             // igual a mat-button default
  padding: 0 16px;          // padding horizontal
  font-size: 14px;          // tamaño de fuente estándar
  font-weight: 500;
  line-height: 36px;
  border-radius: 4px;
  text-transform: uppercase;
  background-color: #e0e0e0;
  color: #0057a0;
  cursor: pointer;
  transition: background-color 0.3s ease;
  user-select: none;
}

.color-selected {
  background-color: #0057a0;
  color: #fff;
  border: 1px solid;
  border-color: #fff;
}
