<div class="alert-layout">
  <div class="toolbar">
    <button mat-raised-button color="primary" (click)="toggleForm()">
      {{ showForm ? 'Ocultar formulario' : 'Consultar aciertos' }}
    </button>
  </div>
  <div class="layout" [class.column]="isMobile">
    <div class="form-section" *ngIf="showForm">
      <div class="form-section">
        <app-check-hits-form (searchResults)="onSearchResults($event)" [queries]="queries"></app-check-hits-form>
      </div>
    </div>
      <app-check-hits-table [loading]="loading" [queries]="queries"></app-check-hits-table>
  </div>
</div>