<div class="alert-layout">
  <div class="toolbar">
    <button mat-raised-button color="primary" (click)="toggleForm()">
      {{ showForm ? 'Ocultar formulario' : 'Filtros' }}
    </button>
  </div>
  <div class="layout" [class.column]="isMobile">
    <div class="form-section" *ngIf="showForm">
      <div class="form-section">
        <app-logbook-form [queries]="queries"></app-logbook-form>
      </div>
    </div>
    <div class="table-section">
      <app-logbook-table [queries]="queries"></app-logbook-table>
    </div>
  </div>
</div>