<div class="table-container">
  <div class="scroll-table-wrapper">
    <table mat-table [dataSource]="listBets" class="mat-elevation-z8">
      <!-- Columna de Dígitos -->
      <ng-container matColumnDef="lottery">
        <th mat-header-cell *matHeaderCellDef>Lotería</th>
        <td
          mat-cell
          *matCellDef="let element"
          [ngClass]="{ 'warning-color': element.warning && !warning }"
        >
          {{ element.lottery.name }}
        </td>
        <td mat-footer-cell *matFooterCellDef>
          <strong
            >Total registros:
            <span class="grand-total"
              >{{ totalWarning }} -
              {{ grandTotal | currency : "COP" : "symbol-narrow" : "1.0-0" }}</span
            ></strong
          >
        </td>
      </ng-container>
      <ng-container matColumnDef="lotteryNumber">
        <th mat-header-cell *matHeaderCellDef>Número</th>
        <td
          mat-cell
          *matCellDef="let element"
          [ngClass]="{ 'warning-color': element.warning && !warning }"
        >
          {{ element.lotteryNumber }}
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <!-- Columna de Descripción -->
      <ng-container matColumnDef="combined">
        <th mat-header-cell *matHeaderCellDef>Combinado</th>
        <td
          mat-cell
          *matCellDef="let element"
          [ngClass]="{ 'warning-color': element.warning && !warning }"
        >
          {{ element.combined ? "COMBINADO" : "" }}
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <!-- Columna de -->
      <ng-container matColumnDef="value">
        <th mat-header-cell *matHeaderCellDef>Valor</th>
        <td
          mat-cell
          *matCellDef="let element"
          [ngClass]="{ 'warning-color': element.warning && !warning }"
          style="text-align: right"
        >
          <div style="display: flex; align-items: center; justify-content: end">
            <mat-icon
              matTooltip="{{
                element.alertDescription ? element.alertDescription : ''
              }}"
              color="warn"
              [ngClass]="{ 'icon-warning': element.warning && !warning }"
              *ngIf="element.warning && !warning"
              style="font-size: 15px; height: 16px"
              >warning</mat-icon
            >
            <span [ngClass]="{ 'text-warning': element.warning && !warning }">{{
              element.groupedValue
                | currency : "COP" : "symbol-narrow" : "1.0-0"
            }}</span>
          </div>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <!-- Columna de Acciones -->
      <ng-container matColumnDef="detail">
        <th mat-header-cell *matHeaderCellDef class="actions-header">
          Detalles
        </th>
        <td mat-cell *matCellDef="let element" class="actions-cell">
          <button
            mat-icon-button
            color="accent"
            title="Ver detalle"
            (click)="onViewDetail(element)"
          >
            <mat-icon>assignment</mat-icon>
          </button>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <!-- Encabezado y filas -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let row; let i = index; columns: displayedColumns"
        [ngClass]="{ 'primary': i === 0 && !warning }"
        class="table-row"
      ></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
    </table>
  </div>

  <div *ngIf="listBets.length === 0" class="empty-state">
    <p>No hay resultados disponibles para los filtros seleccionados.</p>
  </div>

  <mat-paginator [length]="total" [pageSize]="pageSize"
    (page)="onPageChange($event)" *ngIf="listBets.length">
  </mat-paginator>
</div>

<!-- <ng-template #loadingTpl>
  <div class="loading-container">
    <mat-progress-spinner
      mode="indeterminate"
      diameter="50"
    ></mat-progress-spinner>
    <p>Cargando datos...</p>
  </div>
</ng-template> -->
