@import url('../../../../../_custom-theme.scss');

.table-container {
  padding: 8px; // Menos espacio alrededor
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  overflow: visible;
}

.scroll-table-wrapper {
  flex: 1 1 auto;
  max-height: 320px; // Opcional: menos altura máxima
  overflow-y: visible;
  overflow-x: hidden;
}

table {
  width: 100%;
  border-collapse: separate;
  font-size: 13px; // Más pequeño
}

tr {
  height: 30px;
  font-size: 13px;
}

.mat-elevation-z8 {
  border-radius: 8px 8px 0 0 !important;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

// .table-row {
//   height: 40px !important; // Filas más altas
// }

// .mat-mdc-header-row {
//   height: 44px !important; // Encabezado más alto
// }

// .mat-mdc-cell, .mat-mdc-header-cell {
//   padding: 8px 16px !important; // Más espacio interno
//   font-size: 15 px; // Texto más grande
//   line-height: 1.4;
// }

.actions-cell button {
  margin: 0 2px;
  width: 36px !important;
  height: 22px;
  font-size: 20px;
  padding: 0 4px;
}

.empty-state {
  margin-top: 8px;
  font-size: 20px;
}

// Responsive design
@media (max-width: 768px) {
  .table-container {
    padding: 4px;
  }

  table {
    font-size: 20px;
  }

  .mat-mdc-cell, .mat-mdc-header-cell {
    padding: 1px 4px !important;
  }

  .table-row {
    height: 20px !important;
  }

  .actions-cell button {
    min-width: 30px;
    height: 18px;
    margin: 0 1px;
    font-size: 16px;
    padding: 0 2px;
  }
}

.warning-color {
  color: red;
  font-weight: bold;
}

.icon-warning {
  vertical-align: middle;
  margin-right: 4px;
}

.text-warning{
  vertical-align: middle;
}


.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 0;
  color: #555;

  mat-progress-spinner {
    margin-bottom: 16px;
  }
}

.empty-state {
  text-align: center;
  margin-top: 16px;
  color: black;
  font-size: 16px;
}
