/* You can add global styles to this file, and also import other style files */
@use "./custom-theme";

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

.snackbar-success {
  background-color: #43a047;
  color: white;
}

.snackbar-error {
  background-color: #e53935;
  color: white;
}

.snackbar-info {
  background-color: #1e88e5;
  color: white;
}

.snackbar-warn {
  background-color: #fdd835;
  color: black;
}

app-root {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 100%;
}
