<mat-card class="login-card">
  <mat-card-title>Iniciar sesión</mat-card-title>
  <form [formGroup]="form" (ngSubmit)="login()" class="login-form">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" type="email" />
      <mat-error *ngIf="form.get('email')?.hasError('required')"
        >Requerido</mat-error
      >
      <mat-error *ngIf="form.get('email')?.hasError('email')"
        >Email inválido</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Contraseña</mat-label>
      <input matInput formControlName="password" type="password" />
      <mat-error *ngIf="form.get('password')?.hasError('required')"
        >Requerido</mat-error
      >
    </mat-form-field>

    <div class="actions">
      <button
        mat-flat-button
        color="primary"
        type="submit"
        [disabled]="loading"
      >
        {{ loading ? "Ingresando..." : "Entrar" }}
        <mat-progress-spinner
          *ngIf="loading"
          mode="indeterminate"
          diameter="20"
        ></mat-progress-spinner>
      </button>
    </div>
  </form>

  <div class="recover">
    <a routerLink="/auth/recover-password">¿Olvidaste tu contraseña?</a>
  </div>
</mat-card>
