<div class="recover-container">
  <mat-card class="login-card">
    <mat-card-header class="title">
      <mat-icon mat-card-avatar color="primary">lock_reset</mat-icon>
      <mat-card-title>Recuperar contraseña</mat-card-title>
    </mat-card-header>

    <form [formGroup]="form" (ngSubmit)="recover()" class="recover-form">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Correo electrónico</mat-label>
        <mat-icon matPrefix>email</mat-icon>
        <input
          matInput
          formControlName="email"
          type="email"
          autocomplete="email"
        />
        <mat-error *ngIf="form.get('email')?.hasError('required')">
          Requerido
        </mat-error>
        <mat-error *ngIf="form.get('email')?.hasError('email')">
          Email inválido
        </mat-error>
      </mat-form-field>

      <div class="actions">
        <button
          mat-flat-button
          color="primary"
          type="submit"
          class="btn-loading"
          [disabled]="loading"
        >
          <ng-container *ngIf="!loading">Enviar enlace</ng-container>
          <mat-progress-spinner
            *ngIf="loading"
            diameter="20"
            mode="indeterminate"
            color="accent"
          ></mat-progress-spinner>
        </button>
      </div>
    </form>

    <div class="back-to-login">
      <button
        mat-stroked-button
        color="accent"
        type="button"
        (click)="goToLogin()"
      >
        Volver al login
      </button>
    </div>
  </mat-card>
</div>
